* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.outer-container {
  background-color: rgba(0, 0, 0, 0.863);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.main-container {
  width: 40%;
  max-width: 800px;
  height: 90%;
  max-height: 800px;
  background-color: rgba(0, 0, 0, 0.315);
  /* border: 2px solid rgba(255, 255, 255, 0.068); */
  /* box-shadow: rgba(0, 0, 0, 0.288) 0px 2px 15px 1px; */
  border-radius: 10px;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}

/* week container */
/* how to compress text with grid */
p {
  width: 100%;
  max-width: 100%;
}

.week-container {
  width: 55%;
  max-width: 850px;
  height: 10%;
  max-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-items: center;
}

.btn {
  color: rgba(255, 255, 255, 0.705);
  font-size: 48px;
  font-weight: 800;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.day1 {
  background-color: rgba(0, 0, 0, 0.315);
  width: 90%;
}

.city-name {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;

  color: white;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 5px;
  align-self: center;
  border-bottom: solid white 2px;
  margin: 0px 100px;
  display: inline;
}

.state-name {
  font-size: 24px;
  display: inline;
  margin-bottom: 10px;
}

.city-info {
  grid-column: 2 / 4;
  grid-row: 4/ 5;

  color: white;
  font-size: 56px;
  font-weight: 800;
  letter-spacing: 5px;
  align-self: center;
  margin: 0px 25px;
  text-align: center;
  align-self: start;
}

.weather-description {
  grid-column: 1/ 5;
  grid-row: 3/4;
  color: white;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 5px;
  align-self: center;
  margin: 0px 25px;
  text-align: center;
  align-self: start;
}

.city-weather-icon {
  grid-column: 2 / 4;
  grid-row: 2/3;
  width: 100%;
  background-repeat: no-repeat;
  background: center center no-repeat;
  height: 100%;
}

input {
  width: 100%;
  grid-column: 2/9;
  font-size: 36px;
  text-align: center;
}
